.profile-logo {
    color: rgba(255, 127, 80, 0.822);
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -5%;
    cursor: pointer;
    font-size: 2rem;
}